import React from 'react';
const PackageCard = ({ title, description, link }: {{projectName}}.Package) => {
  return (
    <div className="package-card">
      <h3><a href={link} target="_blank" rel="noopener noreferrer">{title}</a></h3>
      <p>{description}</p>
    </div>
  );
};

export default PackageCard;
