<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <!-- Add Font Awesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5D1wDga2G2Q3H7w2WlgUz7/5F6tv5g7PA5U5YLEF"
      crossorigin="anonymous"
    />
    <link rel="icon" href="./favicon.ico" />
    <title>{{projectName}}</title>
  </head>
  <body>
    <div id="root"></div>
    <script src="bundle.js"></script>
  </body>
</html>
